

.buttonone {
background-color: #FFFFFF; /* black */
    border: 6px solid black;
    color: gray;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 20px;
    width: 75%;
    padding: 10px;
    position: relative;
}

.buttontwo {
	background-color: #FFFFFF; /* white */
    border: 6px solid black;
    color: gray;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 20px;
    width: 75%;
    padding: 10px;
    position: relative;
}

.buttonone:hover {
    background-color: #000000; /* black */
    color: gray;
}

.buttontwo:hover {
    background-color: #000000; /* black */
    color: gray;
}

a:link {color:blue; background-color:transparent; text-decoration:none}
a:visited {color:gray; background-color:transparent; text-decoration:none}
a:hover {color:blue; background-color:transparent; text-decoration:none}
a:link {color:blue; background-color:transparent; text-decoration:none}

h3 {
	border: 5px solid navy;
	color: white;
	background-color: navy;
	text-align: center;
}

table, th, td {
	border: 1px solid white;
	padding: 1px;
	border-spacing: 1px;
}
	
/*body {
background-color: white;
}*/

h2 {
	color: blue;
}
	
intro {
	color: white;
	backgound-color: lightgray;
	
}